.filters {
  flex-wrap: wrap;
  margin-top: 13px;
}

.btn-filter {
  border-top: 2px solid var(--color_back);
  border-bottom: 2px solid var(--color_back);
  border-right: 2px solid var(--color_back);
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 11px;
}

.btn-filter-text {
  color: black;
  padding-left: 7px;
  padding-right: 16px;
}

.btn-filter-icon {
  padding: 14px 13px;
  background-color: var(--color_s);
  color: var(--color_m);
  border: 2px solid var(--color_s);
  border-radius: 50%;
}

.btn-filter:hover {
  background-color: var(--color_s);
}

.btn-filter:focus {
  background-color: var(--color_s);
}

.adjust {
  padding: 14px 15px;
}
