@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --font: "Raleway", sans-serif;
  --color_m: #0065fc;
  --color_s: #deebff;
  --color_back: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
  font-weight: 400;
}

body {
  font-size: 1.6rem;
}

header {
  width: 100%;
  padding-top: 26px;
  flex-wrap: wrap;
  background-color: white;
}

header p {
  font-weight: bold;
  color: var(--color_m);
}

h1 {
  font-weight: bold;
  font-size: 2.1895rem;
}

h2 {
  font-size: 1.8rem;
  margin-top: 30px;
}

h3 {
  font-size: 1.59rem;
}

nav {
  width: 100%;
  order: 3;
  margin-top: 24px;
}

nav li {
  width: 50%;
}

nav li a {
  display: block;
  font-weight: lighter;
  text-align: center;
  color: black;
  padding-bottom: 13px;
  border-bottom: 3px solid var(--color_back);
}

nav li a:hover {
  color: var(--color_m);
  border-bottom: 3px solid var(--color_m);
}

a {
  color: var(--color_m);
}

.container {
  width: 90%;
  margin: auto;
}

.wrap {
  flex-wrap: wrap;
}

.padding-left {
  padding-left: 20px;
}

.padding-right {
  padding-right: 22px;
}

.bold {
  font-weight: bold;
}

.my-flex {
  display: flex;
}

.my-column {
  flex-direction: column;
}

.my-space-between {
  justify-content: space-between;
}

.my-space-around {
  justify-content: space-around;
}

.my-flex-center {
  align-items: center;
}

.tab {
  display: block;
}

.search {
  margin-top: 30px;
}

.search h1 {
  padding-right: 20px;
  margin-left: -1px;
}

.search p {
  margin-top: 14px;
  font-size: 1.6rem;
}

.search-container {
  width: 100%;
  margin-top: 35px;
  border-top: 1px solid var(--color_back);
  border-bottom: 1px solid var(--color_back);
  border-left: 1px solid var(--color_back);
  border-radius: 10px 10px;
}

.map-icon {
  background-color: var(--color_back);
  padding: 20px;
  border-radius: 10px 0 0px 10px;
}

#search {
  width: 100%;
  font-weight: 700;
  font-size: 1.77rem;
  padding-left: 18px;
  padding-top: 1px;
  border: none;
}

.btn-search {
  background-color: var(--color_m);
  color: white;
  padding: 18px;
  border-radius: 15px;
}

.visible {
  display: none;
}

.filters {
  flex-wrap: wrap;
  margin-top: 13px;
}

.btn-filter {
  border-top: 2px solid var(--color_back);
  border-bottom: 2px solid var(--color_back);
  border-right: 2px solid var(--color_back);
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 11px;
}

.btn-filter:hover {
  background-color: var(--color_s);
}

.btn-filter:focus {
  background-color: var(--color_s);
}

.btn-filter-icon {
  padding: 14px 13px;
  background-color: var(--color_s);
  color: var(--color_m);
  border: 2px solid var(--color_s);
  border-radius: 50%;
}

.adjust {
  padding: 14px 15px;
}

.btn-filter-text {
  color: black;
  padding-left: 7px;
  padding-right: 16px;
}

.btn-info {
  color: var(--color_m);
  padding: 5px 9px;
  border-radius: 50%;
  border: 2px solid var(--color_back);
  margin-right: 10px;
}

.margin {
  margin-top: 5px;
  margin-left: -2px;
  margin-bottom: 37px;
}

aside {
  background-color: var(--color_back);
}

aside p {
  font-size: 1.4rem;
}

.hot-icon {
  padding: 38px 1px;
}

.list {
  margin-top: -10px;
  padding-bottom: 25px;
}

.card-container {
  cursor: pointer;
  width: 100%;
  height: 146px;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

.card-container-host {
  height: 196px;
}

.card-container-activities {
  height: 194px;
}

.card {
  width: 100%;
  height: 136px;
}

.card img {
  width: 128px;
  height: 136px;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
}

.hosts .card img {
  width: 100%;
  height: 115px;
  border-radius: 20px 20px 0 0;
}

.activities .card img {
  width: 100%;
  height: 134px;
  border-radius: 20px 20px 0 0;
}

.card-infos {
  width: 179px;
  height: 140px;
  margin-top: -3px;
}

.card-infos p {
  margin-top: 10px;
}

.card-infos-hosts {
  width: 100%;
  margin-left: 11px;
  margin-top: 4px;
}

.card-infos-hosts p {
  font-size: 1.4rem;
  margin-top: 4px;
}

.rating {
  margin-top: 10px;
  color: var(--color_m);
}

.rating-host {
  margin-top: 5px;
}

.rating-inactive {
  color: var(--color_back);
}

.hosts {
  margin-top: 31px;
  margin-left: 1px;
}

.hosts h1 {
  margin-bottom: 30px;
}

.plus {
  margin-bottom: 35px;
}

.plus a {
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}

.activities {
  padding-bottom: 20px;
}

.activities h1 {
  margin-bottom: 40px;
}

.activities-name {
  margin-top: 15px;
  margin-left: 16px;
}

footer {
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 10px;
  background-color: var(--color_back);
}

footer h2 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 10px;
}

footer ul {
  padding-bottom: 10px;
}

/************************************Media Queries*****************************************/

@media screen and (min-width: 576px) {
  .card img {
    width: 300px;
  }

  .card-infos {
    width: 41%;
  }

  .btn-search i {
    display: none;
  }

  .visible {
    display: unset;
  }

  .my-flex-baseline {
    align-items: baseline;
  }

  .padding-left {
    padding-left: 30px;
  }

  .wrap {
    flex-wrap: nowrap;
  }

  .grow {
    align-self: flex-end;
    flex-grow: 2;
  }

  nav {
    width: 44%;
    margin-top: 15px;
    margin-right: 12px;
    order: 0;
  }

  nav li a {
    border-bottom: none;
    padding-top: 0px;
  }

  nav li:nth-child(2) a {
    margin-right: 12px;
  }

  nav li a:hover {
    color: var(--color_m);
    border-bottom: none;
    border-top: 3px solid var(--color_m);
  }
}

/**************************768px***************************************/

@media screen and (min-width: 768px) {
  main {
    /*width: 95%;*/
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card img {
    width: 350px;
  }

  .card-infos {
    width: 44%;
  }

  .search-container {
    width: 416px;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .btn-search {
    font-weight: bold;
    font-size: 1.8rem;
    padding: 16px;
    border-radius: 0 15px 15px 0;
  }

  aside {
    order: 2;
    width: 45%;
    border-radius: 15px;
  }

  aside .card-container {
    width: 100%;
    height: 221px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  aside h1 {
    margin-left: -1%;
  }

  aside .list {
    margin-top: -15px;
    padding-bottom: 0;
  }

  aside .adjust {
    margin-top: -20px;
    margin-right: 8px;
  }

  .card img {
    width: 160px;
    height: 211px;
  }

  .hosts .card {
    height: 200px;
  }

  .hosts .card img {
    height: 100px;
  }

  aside .card-infos {
    width: 179px;
    margin-top: 35px;
    margin-left: 25px;
  }

  .hosts {
    order: 1;
    width: 51%;
    background-color: var(--color_back);
    margin: 0;
    padding-top: 48px;
    border-radius: 15px;
  }

  .hosts h1 {
    margin-left: 4.5%;
  }

  .hosts .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 33px;
    padding-bottom: 0;
  }

  .activities {
    width: 100%;
    order: 3;
  }

  .card-container-host {
    width: 170px;
    height: 220px;
    margin-bottom: 30px;
  }

  .card-infos-hosts {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .plus {
    margin-left: 12px;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  aside .adjust {
    margin-top: 3px;
    margin-right: -12px;
  }

  .activities .container {
    padding-top: 38px;
  }
}

/**************************************desktop*******************************************/

@media screen and (min-width: 1400px) {
  body {
    width: 1440px;
    margin: auto;
  }

  header {
    width: 94%;
    margin: auto;
    padding-top: 0;
    margin-top: -5px;
  }

  .my-flex-baseline {
    align-items: baseline;
  }

  .padding-left {
    padding-left: 0;
    margin-top: 60px;
  }

  .wrap {
    flex-wrap: nowrap;
  }

  .grow {
    align-self: flex-end;
    flex-grow: 2;
  }

  nav {
    width: 24%;
    margin-top: 15px;
    margin-right: 12px;
    order: 0;
  }

  nav li a {
    border-bottom: none;
    padding-top: 49px;
  }

  nav li:nth-child(2) a {
    margin-right: 12px;
  }

  nav li a:hover {
    color: var(--color_m);
    border-bottom: none;
    border-top: 3px solid var(--color_m);
  }

  .container {
    width: 93%;
  }

  .hosts,
  .activities .container {
    padding-top: 38px;
  }

  .activities .container {
    width: 100%;
  }

  .search {
    margin-top: 33px;
  }

  .search p {
    margin-top: 9px;
  }

  .search-container {
    width: 416px;
    margin-top: 18px;
    margin-bottom: 10px;
  }

  .btn-search {
    font-weight: bold;
    font-size: 1.8rem;
    padding: 16px;
    border-radius: 0 15px 15px 0;
  }

  .margin {
    margin-top: 22px;
    margin-left: 0;
    margin-bottom: 37px;
  }

  .desktop {
    display: flex;
    margin-top: 8px;
    margin-left: 4px;
  }

  .filters {
    width: 66%;
    margin-right: 27.5%;
  }

  .my-flex-desk {
    display: flex;
    justify-content: space-between;
    padding-right: 350px;
  }

  aside {
    order: 2;
    width: 420px;
    border-radius: 15px;
  }

  aside .card-container {
    width: 344px;
    height: 147px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  aside .card-container:last-child {
    margin-bottom: 0;
  }

  aside h1 {
    margin-left: 18px;
  }

  aside .list {
    margin-top: -15px;
  }

  aside .card-infos {
    width: 179px;
    margin-top: 0;
    margin-left: 0;
  }

  aside .adjust {
    margin-top: -20px;
    margin-right: 8px;
  }

  .hosts {
    order: 1;
    width: 882px;
    background-color: var(--color_back);
    margin: 0;
    border-radius: 15px;
  }

  .hosts h1 {
    margin-left: 12px;
  }

  .hosts .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 15px;
  }

  .activities {
    width: 100%;
    order: 3;
  }

  .activities h1 {
    margin-left: 15px;
    margin-top: 25px;
  }

  .activities .list {
    height: 500px;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .activities .card-container {
    padding: 0;
  }

  .card img {
    width: 128px;
    height: 100%;
  }

  .card-infos {
    width: 179px;
  }

  .hosts .card {
    height: 0;
  }

  .hosts .card img {
    height: 115px;
  }

  .card-infos-hosts {
    height: 0;
    display: block;
  }

  .un {
    width: 304px;
    height: 445px;
  }

  .un .card img {
    height: 391px;
  }

  .deux {
    width: 304px;
    height: 238px;
    align-self: flex-start;
  }

  .deux .card img {
    height: 182px;
  }

  .trois {
    width: 301px;
    height: 166px;
    align-self: flex-end;
  }

  .trois .card img {
    height: 110px;
  }

  .quatre {
    width: 304px;
    height: 445px;
  }

  .quatre .card img {
    height: 391px;
  }

  .cinq {
    width: 304px;
    height: 196px;
    align-self: flex-start;
  }

  .cinq .card img {
    height: 140px;
  }

  .six {
    width: 304px;
    height: 211px;
    align-self: flex-end;
  }

  .six .card img {
    height: 154px;
  }

  .card-container-host {
    width: 246px;
    height: 200px;
    margin-bottom: 30px;
  }

  .plus {
    margin-left: 12px;
    margin-top: -15px;
    margin-bottom: 45px;
  }

  main {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
